<pre class="guitar-tab" id="tab_sir">
d|------------------||---------------------|
A|------------------||---------------------|
F|------------------||---------------------|
C|------------------||---------------------|
G|--2--2----2--2---5||(5)-------5--4-5-4---|
D|--0--0----0--0---3||(5)-0-2-3---------6-5|

d|------------------||------------------|
A|------------------||------------------|
F|------------------||------------------|
C|------------------||------------------|
G|--2--2----2--2---5||(5)-2-2-2---------|
D|--0--0----0--0---3||(5)-0-0-0-5-6-5-6-|
</pre>
