<pre class="guitar-tab" id="tab_tasikardi">
 B|------------| |------------| ||---------------|
 E|------------| |------------| ||•--------------|
 A|--------7-5-| |-4-2-5-4-2--| ||-1----------1-2|
 D|------------| |------------| ||---------------|
F#|------------| |------------| ||•--2-2-2-2-2---|
 B|------------| |------------| ||---0-0-0-0-0---|

 B|--------------| |--------------|
 E|--------------| |--------------|
 A|4----------2-4| |5-----------7-|
 D|--------------| |--------------|
F#|--2-2-2-2-2---| |--2-2-2-2-2---|
 B|--0-0-0-0-0---| |--0-0-0-0-0---|

 B|------------------||
 E|-----------------•||
 A|(7)-5-4-2-5-4--2--||
 D|------------------||
F#|-----------------•||
 B|------------------||


</pre>
